<a href="https://colab.research.google.com/github/Aleksandr-gitt/ControlWork/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

Для того чтобы прочитать первые n строк таблицы, необходимо воспользоваться
следующей функцией

In [ ]:
df.head()

функция, которая показывает последние 5 строк таблицы

In [ ]:
df.tail()

Иногда заранее неизвестно сколько строк и столбцов находится внутри таблицы,
чтобы это сделать необходимо воспользоваться специальной функцией

In [ ]:
df.shape

Чтобы обнаружить пустые значения в таблице данных необходимо воспользоваться
функцией .isnull()

In [ ]:
df.isnull()

мы можем воспользоваться еще одной функцией .sum(). Данная
функция выведет количество null-значений в каждой ячейке по столбцам

In [ ]:
df.isnull().sum()

у каждого столбца есть свой тип данных, чтобы это узнать, нужно
применить функцию

In [ ]:
df.dtypes

Чтобы узнать название всех столбцов в таблице, воспользуйтесь функцией

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

**Выборка данных**

Если Вы хотите вывести 1 столбец на экран, то можно указать следующее
выражение, которое позволит это сделать.

In [ ]:
df['latitude']

Что мы будем делать, если нам потребуется вывести на экран сразу несколько
столбцов?

In [ ]:
df[['latitude','population']]

**Задание** Необходимо вывести столбец total_rooms, у которого медианный возраст здания(housing_median_age) меньше 20

In [ ]:
df[df['housing_median_age']<20]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0
...,...,...,...,...,...,...,...,...,...
16983,-124.19,41.78,15.0,3140.0,714.0,1645.0,640.0,1.6654,74600.0
16987,-124.21,41.77,17.0,3461.0,722.0,1947.0,647.0,2.5795,68400.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0

In [ ]:
df[df['housing_median_age']<20]['total_rooms']

0        5612.0
1        7650.0
2         720.0
3        1501.0
10       3741.0
          ...
16983    3140.0
16987    3461.0
16991    3159.0
16997    2677.0
16998    2672.0
Name: total_rooms, Length: 4826, dtype: float64

& - выполнение одновременно всех условий.

| - выполнение хотя бы одного из условия.

In [ ]:
df[(df['housing_median_age']<20) & (df['housing_median_age']>10)][['total_rooms','housing_median_age']]

**Простая статистика**

In [ ]:
print(df['population'].max())

35682.0

In [ ]:
print(df['population'].min())

3.0

In [ ]:
print(df['population'].mean())

1429.5739411764705

In [ ]:
print(df['population'].sum())

24302757.0

In [ ]:
df[['population','total_rooms']].median()

population     1167.0
total_rooms    2127.0
dtype: float64

Получить общую картину можно простой командой describe

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

count - Общее кол-во не пустых строк

mean - среднее значение в столбце

std - стандартное отклонение от среднего значения

min - минимальное значение

max - максимальное значение

Числа 25%, 50%, 75% - перцентили